p{
	position: absolute;
	top: 0;
	left: 10;
	font-family: "Helvetica";
	font-size: 15px;
}
html, body {
	height: 100%;
}

body {
  display: flex;
  background: #696969;

  /* This centers our sketch horizontally. */
  justify-content: center;

  /* This centers our sketch vertically. */
  align-items: center;
}